<footer class="d-flex flex-row-nowrap justify-content-center p-20">
    <div class="content p-20">
        <p class="copyright">
            © AMA, Inc. 2023-2024
        </p>
    </div>
    <div class="d-flex flex-row align-items-center">
        <a href="{{ path('mentions_legales') }}">Mentions légales</a>
        <div class="d-flex flex-row align-items-center m-10">
            <span>|</span>
        </div>
    </div>
    <div class="d-flex flex-row align-items-center">
        <a href="{{ path('politique_confidentialite') }}">Politique de confidentialité</a>
    </div>
</footer>
