{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
<div class="block">
    <h1 class="">Politique de Confidentialité</h1>
    <p class="question-text">

        <h3 class="pb-20">Qui sommes-nous ?</h3>
        Reggaex Cyber Solutions <br>
        reggaex@tuta.io <br>
        https://www.ama.fr
        
        <h3 class="py-20">Commentaires</h3>
        Quand vous laissez un commentaire sur notre site, les données inscrites dans le formulaire de commentaire, mais aussi votre adresse IP et l’agent utilisateur de votre navigateur sont collectés pour nous aider à la détection des commentaires indésirables. Une chaîne anonymisée créée à partir de votre adresse e-mail (également appelée hash) peut être envoyée au service Gravatar pour vérifier si vous utilisez ce dernier. Les clauses de confidentialité du service Gravatar sont disponibles ici : https://automattic.com/privacy/. Après validation de votre commentaire, votre photo de profil sera visible publiquement à côté de votre commentaire.
        
        <h3 class="py-20">Formulaires de contact</h3>
        Conformément aux exigences du Règlement Général sur la Protection des Données Personnelles (RGPD) entrée en vigueur le 25 mai 2018: Nous mettons en oeuvre toutes les mesures nécessaires afin de garantir la protection de vos données et appliquons le principe de transparence ; Vous disposez de droits pour maîtriser vos données personnelles. Voici les informations relatives à la collecte et au traitement de vos données personnelles dans le cadre de votre demande d'information. Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par la société RCS (Reggaex Cyber Solutions) pour répondre à votre demande d'information. En envoyant le formulaire vous consentez à ce que nous collections et traitions vos données personnelles dans le cadre précis de votre demande de renseignements et de la relation commerciale qui pourrait en découler. La base légale du traitement est le consentement, recueilli (boutons et cases à cocher), libre, clair et sans équivoque conformément aux conditions applicables qui sont définies aux articles 4 et 7 du RGPD. Vos données traitées sont les données d'identification: prénoms, noms et coordonnées professionnelles. Elles sont recueillies directement auprès de vous via le formulaire de contact de notre site internet. Vos données sont traitées par la personne en charge de la gestion commerciale, membre du personnel habilité de la société RCS. Vos données personnelles sont conservées pour la durée nécessaire au traitement de votre demande d'information. Elles seront conservées durant 24 mois à partir du dernier contact puis anonymisées et conservées à des fins historiques et statistiques pour une durée de 36 mois, sauf contraintes légales particulières. Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la limitation du traitement de vos données. Vous pouvez retirer à tout moment votre consentement au traitement de vos données. Vous pouvez également vous opposer au traitement de vos données et exercer votre droit à la portabilité de vos données. Consultez le site cnil.fr pour plus d'informations sur vos droits. Pour exercer ces droits ou pour toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter Reggaex Cyber Solutions: PAR VOIE POSTALE: Reggaex Cyber Solutions.
        PAR COURRIER ÉLECTRONIQUE: reggaex@tuta.io.
        Si vous estimez, après nous avoir contactés, que vos droits "Informatiques et Libertés" ne sont pas respectés, vous pouvez adresser une réclamation à la CNIL.
        
        <h3 class="py-20">Cookies</h3>
        Si vous déposez un commentaire sur notre site, il vous sera proposé d’enregistrer votre nom, adresse e-mail et site dans des cookies. C’est uniquement pour votre confort afin de ne pas avoir à saisir ces informations si vous déposez un autre commentaire plus tard. Ces cookies expirent au bout d’un an. Si vous vous rendez sur la page de connexion, un cookie temporaire sera créé afin de déterminer si votre navigateur accepte les cookies. Il ne contient pas de données personnelles et sera supprimé automatiquement à la fermeture de votre navigateur. Lorsque vous vous connecterez, nous mettrons en place un certain nombre de cookies pour enregistrer vos informations de connexion et vos préférences d’écran. La durée de vie d’un cookie de connexion est de deux jours, celle d’un cookie d’option d’écran est d’un an. Si vous cochez « Se souvenir de moi », votre cookie de connexion sera conservé pendant deux semaines. Si vous vous déconnectez de votre compte, le cookie de connexion sera effacé. En modifiant ou en publiant une publication, un cookie supplémentaire sera enregistré dans votre navigateur. Ce cookie ne comprend aucune donnée personnelle. Il indique simplement l’ID de la publication que vous venez de modifier. Il expire au bout d’un jour.
        
        <h3 class="py-20">Contenu embarqué depuis d’autres sites</h3>
        Les articles de ce site peuvent inclure des contenus intégrés (par exemple des vidéos, images, articles…). Le contenu intégré depuis d’autres sites se comporte de la même manière que si le visiteur se rendait sur cet autre site. Ces sites web pourraient collecter des données sur vous, utiliser des cookies, embarquer des outils de suivis tiers, suivre vos interactions avec ces contenus embarqués si vous disposez d’un compte connecté sur leur site web.
        
        
        
        <h3 class="py-20">Durées de stockage de vos données</h3>
        Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération. Pour les comptes qui s’inscrivent sur notre site (le cas échéant), nous stockons également les données personnelles indiquées dans leur profil. Tous les comptes peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception de leur identifiant). Les gestionnaires du site peuvent aussi voir et modifier ces informations.
        
        Les droits que vous avez sur vos données
        Si vous avez un compte ou si vous avez laissé des commentaires sur le site, vous pouvez demander à recevoir un fichier contenant toutes les données personnelles que nous possédons à votre sujet, incluant celles que vous nous avez fournies. Vous pouvez également demander la suppression des données personnelles vous concernant. Cela ne prend pas en compte les données stockées à des fins administratives, légales ou pour des raisons de sécurité.
    </p>
</div>

{% endblock %}
