{% extends 'base.html.twig' %}

{% block title %}Désactiver le compte{% endblock %}

{% block body %}
  {{ form_start(form) }}
  {{ form_row(form.isActive) }}
  <button class="btn btn-primary">Désactiver le compte</button>
  {{ form_end(form) }}
{% endblock %}
